/*---------first lesson Selectors---------

body{
    font-size: 22px;
}
h1, h2{
    color: blue;
}
p{
    color: purple;
}
.gray{
    color: gray;
}
.highlight{
    text-transform: uppercase;
    background-color: gold;
}
#second{
    font-style: italic;
}*/

/*-------Colors---------*/
/*body{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color:papayawhip;
    color: darkblue;
}
p{
    color: rgb(54, 49, 49);
}*/

/*--------Units and size*/
p{
    font-size: 16px;
}


